<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cxhello.gmall.manage.mapper.BaseAttrInfoMapper">
    <resultMap id="baseAttrInfoMap" type="com.cxhello.gmall.bean.BaseAttrInfo" autoMapping="true">
        <id column="id" property="id"></id>
        <collection ofType="com.cxhello.gmall.bean.BaseAttrValue" property="attrValueList"
                    autoMapping="true">
            <result property="id" column="attr_value_id"></result>
        </collection>
    </resultMap>

    <select id="getBaseAttrInfoListByCatalog3Id" resultMap="baseAttrInfoMap">
        SELECT bai.`id`,bai.`attr_name`,bai.`attr_name`,
            bav.`id` attr_value_id,
            bav.`value_name`,bav.`attr_id`
        FROM base_attr_info bai INNER JOIN
            base_attr_value bav ON bai.`id`=bav.`attr_id`
            WHERE bai.`catalog3_id`=#{0}
    </select>

    <select id="selectAttrInfoListByIds" resultMap="baseAttrInfoMap">
        select bai.id,bai.attr_name,bai.catalog3_id,
               bav.attr_id,bav.id attr_value_id,bav.value_name
        from base_attr_value bav inner join base_attr_info bai on
        bav.attr_id=bai.id and bav.id in(${valueIds});
    </select>
</mapper>